<header class="pc-header" [class.collapsed]="isCollepsed">
  <div class="header-wrapper">
    <div class="me-auto pc-mob-drp">
      <ul class="list-unstyled">
        <li class="pc-h-item pc-sidebar-collapse">
          <a style="cursor: pointer;" (click)="toggleSideBar()" class="pc-head-link ms-0"  id="sidebar-hide">
            <i class="ti ti-menu-2"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="ms-auto">
      <ul class="list-unstyled mb-0">
        <li class="pc-h-item p-2"><a style="color: #000;"  target="_blank" [routerLink]="['/home']" routerLinkActive="router-link-active"  ><i class=""></i>Siteye Git</a></li>
        <li class="dropdown pc-h-item">
          <span> {{ getNameSurname() }}</span>
          <a class="pc-head-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" href="#"
            role="button" aria-haspopup="true" aria-expanded="false">
            <i class="ti ti-user me-1"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#">
              <i class="ti ti-settings me-2"></i> Hesabım & Ayarlar
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" style="cursor: pointer;" (click)="logout()">
              <i class="ti ti-logout me-2"></i> Çıkış Yap
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</header>