<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">ZenBlog</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="index.html" class="active">Ana Sayfa</a></li>
                <li><a href="about.html">Bloglar</a></li>
                <li><a href="contact.html">İletişim</a></li>
            </ul>

        </nav>

        <div class="header-social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
    <div class="navmenu" style="position: relative; right:90px" *ngIf="isLogin(); else noLogin">
        <ul>
            <li class="dropdown"><a href="#"> <span><i class="bi bi-people"></i> {{GetFullName()}}</span><i
                        class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="#"> Profilim</a></li>
                    <li><a (click)="signOut()">Çıkış Yap</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <ng-template #noLogin>
        <div style="position: relative; right:90px">
            <a [routerLink]="['/user-login']" routerLinkActive="router-link-active"   class="btn btn-primary fw-bolder btn-sm">Giriş Yap</a>
        </div>
    </ng-template>
</header>