<main class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <section id="blog-details" class="blog-details section">
          <div class="container">

            <article class="article">

              <div class="post-img">
                <img src="{{model.coverImage}}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{model.title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                      href="blog-details.html">{{model.user.firstName}} {{model.user.lastName}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      href="blog-details.html"><time>{{model.createdAt | date}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                      href="blog-details.html">{{commentCount }} Yorum</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>{{model.description}}</p>
                <img src="{{model.blogImage}}" class="img-fluid" alt="">
              </div><!-- End post content -->



            </article>

          </div>
        </section>
        <section id="blog-comments" class="blog-comments section">
          <div class="container">
            <h4 class="comments-count">{{commentCount}} Yorum</h4>
            <div id="comment-1" class="comment" *ngFor="let item of model.comments; let i = index">
              <div class="card mb-3 shadow-sm border-0 rounded-3">
                <div class="card-body">
                  <div class="d-flex align-items-start">
                    <!-- Yorum İçeriği -->
                    <div class="flex-grow-1">
                      <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0 fw-bold">{{item.user.firstName}} {{item.user.lastName}}</h6>
                        <!-- Aksiyon Butonları -->
                        <div class="btn-group btn-group-sm">
                          <button class="btn btn-outline-primary" (click)="ShowSubCommentForm(i)"
                            *ngIf="isLoginIn() && getUserId() != item.user.id"><i class="bi bi-reply-fill"></i>
                            Yanıtla</button>

                          <button class="btn btn-outline-danger" (click)="RemoveComment(item.id)"
                            *ngIf="isLoginIn() && getUserId()==item.user.id"><i class="bi bi-trash"></i>
                            Sil</button>

                        </div>

                      </div>
                      <div class="d-flex justify-content-between mt-2">
                        <small class="text-muted">{{item.commentDate | date:'dd MMM yyyy HH:mm'}}</small>
                      </div>

                      <p class="mt-2 mb-0">{{item.body}} </p>

                      <div class="d-flex justify-content-end align-items-center" *ngIf="!item.isTranslateJobLoading">
                        <p (click)="translateToEnglish(i)" class="mb-0 mt-2" style="cursor: pointer;"><small><i
                              class="bi bi-translate"></i> Translate To English</small> </p>
                      </div>
                      <div class="d-flex justify-content-end align-items-center" *ngIf="item.isTranslateJobLoading">
                        <div class="spinner-border spinner-border-sm" role="status">
                        </div> <span class="ms-2"> Translating...</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group mt-2" *ngIf="item.formActive">
                <textarea type="text" rows="10" [(ngModel)]="subCommentModel.body" name="body"
                  class="form-control mb-3"></textarea>
                <span *ngIf="error" class="text-danger fw-bolder">{{error}}</span>

                <button class="btn btn-outline-primary btn-sm" (click)="addSubComment(item.id)">Gönder</button>
              </div>
              <div *ngIf="item.subComments.length > 0" class="ms-5 mt-3">
                <div class="card mb-2 shadow-sm border-0 bg-light"
                  *ngFor="let userComment of item.subComments; let z = index">

                  <div class="card-body py-2">
                    <div class="d-flex align-items-start">
                      <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-center">
                          <h6 class="mb-0 fw-semibold">
                            {{userComment.user.firstName}} {{userComment.user.lastName}}
                          </h6>
                          <div class="btn-group btn-group-sm">
                            <button (click)="showParentSubCommentForm(z,i)" class="btn btn-outline-primary"
                              *ngIf="isLoginIn() && getUserId() != userComment.user.id"><i class="bi bi-reply-fill"></i>
                              Yanıtla</button>

                            <button class="btn btn-outline-danger" (click)="removeSubComment(userComment.id)"
                              *ngIf="isLoginIn() && getUserId()==userComment.user.id"><i class="bi bi-trash"></i>
                              Sil</button>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                          <small class="text-muted">{{userComment.commentDate | date:'dd MMM yyyy HH:mm'}}</small>
                        </div>
                        <p class="mt-2 mb-0">{{userComment.body}}</p>
                      </div>
                    </div>

                  </div>



                  <div *ngIf="item.subComments.length > 0" class="ms-5 mt-3">
                    <div class="card mb-2 shadow-sm border-0 bg-light"
                      *ngFor="let parenSubComment of userComment.parentSubComments">

                      <div class="card-body py-2">
                        <div class="d-flex align-items-start">
                          <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-center">
                              <h6 class="mb-0 fw-semibold">
                                {{parenSubComment.user.firstName}} {{parenSubComment.user.lastName}}
                              </h6>
                              <div class="btn-group btn-group-sm">
                                <button class="btn btn-outline-danger"
                                  (click)="removeParentSubComment(parenSubComment.id)"
                                  *ngIf="isLoginIn() && getUserId()==parenSubComment.user.id"><i
                                    class="bi bi-trash"></i>
                                  Sil</button>
                                <button (click)="showParentSubCommentForm(z,i)" class="btn btn-outline-primary"
                                  *ngIf="isLoginIn() && getUserId()!=parenSubComment.user.id"><i
                                    class="bi bi-reply-fill"></i>
                                  Yanıtla</button>


                              </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                              <small class="text-muted">{{parenSubComment.commentDate | date:'dd MMM yyyy
                                HH:mm'}}</small>
                            </div>
                            <p class="mt-2 mb-0">{{parenSubComment.body}}</p>
                          </div>
                        </div>

                      </div>


                    </div>

                    <div class="form-group mt-2" *ngIf="item.subComments[z].isformActive">
                      <textarea type="text" rows="10" [(ngModel)]="createParentCommentModel.body" name="body"
                        class="form-control mb-2"></textarea>
                      <span *ngIf="error" class="text-danger fw-bolder">{{error}}</span>

                      <button class="btn btn-outline-primary btn-sm mb-3"
                        (click)="addparentSubComment(userComment.id)">Gönder </button>
                    </div>

                  </div>
                </div>



              </div>

            </div>





          </div>

        </section>

        <ng-template #nodata>
          <section id="comment-form" class="comment-form section">
            <div class="container">
              <div class="alert alert-danger">
                <span>Bu bloğa yorum yapabilmeniz için <a [routerLink]="['/user-login',`/blog-detail/${_id}`]"
                    routerLinkActive="router-link-active">Giriş</a> yapmalısınız.</span>
              </div>

            </div>
          </section>
        </ng-template>

        <section id="comment-form" class="comment-form section" *ngIf="isLoginIn(); else nodata">
          <div class="container">
            <form action="">

              <h4>Yeni Yorum bırakın</h4>
              <p>* İşaretli alanlar gereklidir.</p>
              <div class="row">
                <div class="col form-group">
                  <textarea name="body" style="height: 300px;" rows="20" [(ngModel)]="commentModel.body"
                    class="form-control mb-2" placeholder="Yorumunuz *"></textarea>

                  <span *ngIf="error" class="text-danger fw-bolder">{{error}}</span>
                </div>
              </div>

              <div class="text-end">
                <button type="submit" class="btn btn-primary" (click)="AddComment()">Gönder</button>
              </div>

            </form>

          </div>
        </section>
      </div>

      <div class="col-lg-4 sidebar">

        <div class="widgets-container">
          <div class="recent-posts-widget widget-item">

            <h3 class="widget-title">Bu Kategorideki bloglar</h3>

            <div class="post-item" *ngFor="let item of getSameCategoryBlogListModel">
              <img src="{{item.coverImage}}" alt="" class="flex-shrink-0">
              <div>
                <h4><a [routerLink]="['/blog-detail',item.id]" routerLinkActive="router-link-active" >{{item.title}}</a></h4>
                <time datetime="2020-01-01">{{item.createdAt | date}}</time>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>
