<main class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <!-- Blog Details Section -->
        <section id="blog-details" class="blog-details section">
          <div class="container">

            <article class="article">

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{model.title}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                      href="blog-details.html">{{model.user.firstName}} {{model.user.lastName}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      href="blog-details.html"><time>{{model.createdAt | date}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                      href="blog-details.html">{{model.comments.length }} Comments</a></li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <p>{{model.description}}</p>
                <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
              </div><!-- End post content -->



            </article>

          </div>
        </section><!-- /Blog Details Section -->

        <!-- Blog Comments Section -->
        <section id="blog-comments" class="blog-comments section">

          <div class="container">

            <h4 class="comments-count">{{model.comments.length}} Yorum</h4>

            <div id="comment-1" class="comment" *ngFor="let item of model.comments">
              <div class="d-flex">
                <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
                <div>
                  <h5><a href="">{{item.user.firstName}} {{item.user.lastName}}</a> <a href="#" class="reply"><i
                        class="bi bi-reply-fill"></i> Yanıtla</a></h5>
                  <time datetime="2020-01-01">{{item.commentDate |date}}</time>
                  <p>
                    {{item.body}}
                  </p>
                </div>
              </div>
              <div *ngIf="item.subComments.length>0">
                <div id="comment-reply-2" class="comment comment-reply" *ngFor="let userComment of item.subComments">
                  <div class="d-flex">
                    <div>
                      <h5><a href="">{{userComment.user.firstName}} {{userComment.user.lastName}}</a> <a href="#"
                          class="reply"><i class="bi bi-reply-fill"></i>
                          Yanıtla</a>
                      </h5>
                      <time>{{userComment.commentDate |date}}</time>
                      <p>
                        {{userComment.body}}
                      </p>
                    </div>
                  </div>

                </div>
              </div>

            </div>





          </div>

        </section>

        <ng-template #nodata>
          <section id="comment-form" class="comment-form section">
            <div class="container"> 
             <div class="alert alert-danger">
              <span>Bu bloğa yorum yapabilmeniz için <a [routerLink]="['/user-login']" routerLinkActive="router-link-active" >Giriş</a> yapmalısınız.</span>
             </div>

            </div>
          </section>
        </ng-template>

        <section id="comment-form" class="comment-form section" *ngIf="isLoginIn(); else nodata">
          <div class="container">
            <form action="">

              <h4>Yeni Yorum bırakın</h4>
              <p>* İşaretli alanlar gereklidir.</p>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input name="name" type="text" class="form-control" placeholder="Adınız *">
                </div>
                <div class="col-md-6 form-group">
                  <input name="name" type="text" class="form-control" placeholder="Soyadınız *">
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <textarea name="comment" rows="20" class="form-control" placeholder="Yorumunuz *"></textarea>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Gönder</button>
              </div>

            </form>

          </div>
        </section>

      </div>

      <div class="col-lg-4 sidebar">

        <div class="widgets-container">
          <div class="blog-author-widget widget-item">

            <div class="d-flex flex-column align-items-center">
              <div class="d-flex align-items-center w-100">
                <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                <div>
                  <h4>AI Özeti</h4>
                </div>
              </div>

              <p>
                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat
                voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
              </p>

            </div>

          </div>
          <div class="recent-posts-widget widget-item">

            <h3 class="widget-title">Teknoloji ile ilgili 5 Blog</h3>

            <div class="post-item">
              <img src="assets/img/blog/blog-recent-2.jpg" alt="" class="flex-shrink-0">
              <div>
                <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>
            </div>

            <div style="text-align: center !important;">
              <a class="btn btn-link  btn-sm">Bu kategoriye ait tüm bloglar</a>
            </div>


          </div>
          <div class="tags-widget widget-item">

            <h3 class="widget-title">Etiketler</h3>
            <ul>
              <li><a href="#">App</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Mac</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Office</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>
  </div>

</main>

<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">ZenBlog</span>
        </a>
        <div class="footer-contact pt-3">
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>infoexample.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Hic solutasetp</h4>
        <ul>
          <li><a href="#">Molestiae accusamus iure</a></li>
          <li><a href="#">Excepturi dignissimos</a></li>
          <li><a href="#">Suscipit distinctio</a></li>
          <li><a href="#">Dilecta</a></li>
          <li><a href="#">Sit quas consectetur</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nobis illum</h4>
        <ul>
          <li><a href="#">Ipsam</a></li>
          <li><a href="#">Laudantium dolorum</a></li>
          <li><a href="#">Dinera</a></li>
          <li><a href="#">Trodelas</a></li>
          <li><a href="#">Flexo</a></li>
        </ul>
      </div>

    </div>
  </div>